.title{
    display: flex;
    justify-content: space-between;
}

.calculator{
    background-color: gray;
    padding: 15px;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    margin: 0 auto;
    border: 2px solid #555;
}

.screen{
background-color:#fff
;
border-radius: 3px;
padding: 15px;
margin: 10px;
}

.keypad{
    display: flex;
    justify-content: space-around;

}


.key{
    border: 1px solid#555;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
    background-color: rgb(101,99,99);
    border-radius: 15px;
    min-width: 40%;
    width: 70%;
    color: #ffff;
}
.key:hover{
    background-color: black;
}

